@model App1.Models.Destino

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Destino</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome_Destino)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome_Destino)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            R$@Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hora_Voo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hora_Voo)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Destino">Editar</a> |
    <a asp-action="Index">Voltar para lista</a>
</div>
