@model IEnumerable<App1.Models.Destino>

@{
    ViewData["Title"] = "Início";
}

<h1 class="text-center titulo">Destino</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<section class="container text-center">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome_Destino)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Preco)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hora_Voo)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome_Destino)
                </td>
                <td>
                    R$@Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Hora_Voo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id_Destino">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id_Destino">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id_Destino">Apagar</a>
                </td>
            </tr>
    }
        </tbody>
    </table>
</section>
