@model IEnumerable<App1.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h1 class="text-center titulo">Cadastro</h1>

<p>
    <a asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome_Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome_Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Email_Cliente">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Email_Cliente">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Email_Cliente">Apagar</a>
            </td>
        </tr>
}
    </tbody>
</table>
